{
    "openapi": "3.0.0",
    "servers": [{
        "url": "https://bulksign.com/webapi/rest/"
    	}],
    "info": {
        "version": "4.117",
        "title": "Bulksign REST API",
        "description": "Bulksign OpenAPI definition. For .NET specifically, please use our [.NET SDK](https://www.nuget.org/packages/BulksignSdk). API code samples which demonstrate how to call ALL these APIs is available [on Github](https://github.com/bulksign/BulksignApiSamples)",
        "contact": {
            "email": "contact@bulksign.com"
        }
    },
    "tags": [{
        "name": "Envelope",
        "description": "Envelope specific APIs"
    },
    {
        "name": "File",
        "description": "APIs which enable working with a single document file"
    },
    {
        "name": "Recipient",
        "description": "Recipient specific APIs"
    }, {
        "name": "Completed Envelope Download",
        "description": "APIs to download completed envelope documents"
    }, {
        "name": "Draft",
        "description": "Draft specific APIs"
    }, {
        "name": "Template",
        "description": "Template specific APIs"
    }, {
        "name": "User",
        "description": "User specific APIs"
    }, {

        "name" : "User Contacts",
        "description" : "User contacts APIs"
    },{
        "name": "User Automatic Signing Profiles",
        "description": "List of APIs designed to manage the user's automatic signing profiles"
    },{
        "name": "Organization",
        "description": "Organization specific APIs. Can only be used by organization administrators"
    },{
        "name": "Organization Users",
        "description": "APIs designed to managed the organization users. Can only be used by organization administrators"
    },{
        "name": "Automatic Signing Profiles",
        "description": "Designed to manage the organization automatic signing profiles. Requires organization administrator rights or custom role with acces to automatic signing profiles"
    },
    {
        "name": "Teams",
        "description": "Designed to manage the organziation teams. Requires organization administrator rights or custom role with acces to teams"
    },
    {
        "name": "Shared Contacts",
        "description": "Designed to manage the organziation shared contacts. Requires organization administrator rights or custom role with acces to shared contacts"
    },
    {
        "name": "Signature Stamps",
        "description": "Designed to manage the organziation signature stamps. Requires organization administrator rights or custom role with acces to signature stamps"
    },
    {
        "name": "Sign Groups",
        "description": "Designed to manage the organziation signing groups. Requires organization administrator rights or custom role with acces to sign groups"
    },
    {
        "name": "License",
        "description": "License specific APIs. Can only be used by organization administrators"
    }, {
        "name": "Version",
        "description": "Version specific APIs"
    }],
    "paths": {

        "/ResetSignatureType" :	{
			"post": {
                "tags": [
                    "Recipient"
                ],
                "summary": "Changes all the reamining unsigned signature types for a specific recipient",
                "operationId": "ResetSignatureType",
                 "requestBody": {
                    "required": true,
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/ResetSignatureTypeApiModel"
                            }
                        }
                    }
                },
                 "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultNumeric"
                                }
                            }
                        }
                    }
                }
            }
		},

		"/UnlockConcurrentRecipient" :	{
			"post": {
                "tags": [
                    "Recipient"
                ],
                "summary": "Unlocks access to envelope which is currently locked by specific concurrent recipient",
                "operationId": "UnlockConcurrentRecipient",
                 "requestBody": {
                    "required": true,
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/UnlockConcurrentRecipientApiModel"
                            }
                        }
                    }
                },
                 "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }
                }
            }
		},

        "/AddEmailTemplate" :{
            "post": {
                "tags": [
                    "Organization"
                ],
                "summary": "",
                "operationId": "AddEmailTemplate",
                "requestBody": {
                    "required": true,
                    "description": "Specifies the email template input",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/EmailTemplateApiModel"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }

                }
            }
        },
        "/CreateOrganization":{
            "post": {
                "tags": [
                    "Organization"
                ],
                "summary": "Creates a new organization. Requires organization administrator rights. This endpoint ONLY works for on-premise version",
                "operationId": "CreateOrganization",
                "requestBody": {
                    "required": true,
                    "description": "Specifies the input files for the envelope and info about document parsing",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/CreateOrganizationApiModel"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }

                }
            }
        },

        "/GetOrganizationUsers": {
            "post": {
                "tags": [
                    "Organization Users"
                ],
                "summary": "Gets the list of organization users",
                "operationId": "GetOrganizationUsers",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrganizationUsersResult"
                                }
                            }
                        }
                    }

                }
            }
        },

        "/GetLicense": {
            "post": {
                "tags": [
                    "License"
                ],
                "summary": "Gets license information. Requires organization administrator rights",
                "operationId": "GetLicense",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetLicenseResult"
                                }
                            }
                        }
                    }

                }
            }
        },

        "/PrepareSendEnvelope": {
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Obtain a predefined SendEnvelopeApiModel from specified PDF documents",
                "operationId": "PrepareSendEnvelope",
                "requestBody": {
                    "required": true,
                    "description": "Specifies the input files for the envelope and info about document parsing",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/PrepareEnvelopeApiModel"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EnvelopeApiModel"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/SendEnvelope": {
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Sends a envelope for signing",
                "operationId": "SendEnvelope",
                "requestBody": {
                    "required": true,
                    "description": "SendEnvelope input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/EnvelopeApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SendEnvelopeResultApiModel"
                                }
                            }
                        }
                    }
                }
            }
        },
      
        "/SendReminder": {
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Sends email reminder for the current signer(s) of the envelope",
                "operationId": "SendReminder",
                "parameters": [{
                    "name": "envelopeId",
                    "in": "query",
                    "description": "The id of the envelope",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/SendEnvelopeFromDraft": {
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Send a envelope to signing from an existing draft",
                "operationId": "SendEnvelopeFromDraft",
                "parameters": [{
                    "name": "draftId",
                    "in": "query",
                    "description": "The id of the draft",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultId"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/SendEnvelopeFromTemplate": {
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Send a envelope to signing from a existing template",
                "operationId": "SendEnvelopeFromTemplate",
                "requestBody": {
                    "required": true,
                    "description": "The template model which allows replacing template recipients",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/EnvelopeFromTemplateApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultId"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/DeleteEnvelope": {
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Deletes an existing envelope",
                "operationId": "DeleteEnvelope",
                "parameters": [{
                    "name": "envelopeId",
                    "in": "query",
                    "description": "The id of the envelope",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/CancelEnvelope": {
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Cancel an 'in progress' envelope",
                "operationId": "CancelEnvelope",
                "parameters": [{
                    "name": "envelopeId",
                    "in": "query",
                    "description": "The id of the envelope",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/RestartEnvelope": {
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Restarts an expired envelope",
                "operationId": "RestartEnvelope",
                "parameters": [{
                    "name": "envelopeId",
                    "in": "query",
                    "description": "The id of the envelope",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetEnvelopeDetails": {
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Get detailed information about an envelope",
                "operationId": "GetEnvelopeDetails",
                "parameters": [{
                    "name": "envelopeId",
                    "in": "query",
                    "description": "The id of the envelope",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetEnvelopeDetailsResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/SearchDrafts": {
            "post": {
                "tags": [
                    "Draft"
                ],
                "summary": "Search drafts using a specific search term",
                "operationId": "SearchDrafts",
                "parameters": [{
                    "name": "searchTerm",
                    "in": "query",
                    "description": "The search term",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetItemsArrayResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/SearchTeamMembersDrafts": {
            "post": {
                "tags": [
                    "Draft"
                ],
                "summary": "Search drafts of team members",
                "operationId": "SearchTeamMembersDrafts",
                "parameters": [{
                    "name": "searchTerm",
                    "in": "query",
                    "description": "The search term",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetItemsArrayResult"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/SearchEnvelopes" :{
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Search the user's envelopes",
                "operationId": "SearchEnvelopes",
                "parameters": [{
                    "name": "searchTerm",
                    "in": "query",
                    "description": "The search term",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetItemsArrayResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/SearchTeamMembersEnvelopes": {
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Search the envelopes of team members",
                "operationId": "SearchTeamMembersEnvelopes",
                "parameters": [{
                    "name": "searchTerm",
                    "in": "query",
                    "description": "The search term",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetItemsArrayResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/SearchTeamMembersTemplates": {
            "post": {
                "tags": [
                    "Template"
                ],
                "summary": "Search the templates of team members",
                "operationId": "SearchTeamMembersTemplates",
                "parameters": [{
                    "name": "searchTerm",
                    "in": "query",
                    "description": "The search term",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetItemsArrayResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/SearchTemplates": {
            "post": {
                "tags": [
                    "Template"
                ],
                "summary": "Search templates",
                "operationId": "SearchTemplates",
                "parameters": [{
                    "name": "searchTerm",
                    "in": "query",
                    "description": "The search term",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetItemsArrayResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetEnvelopesByStatus": {
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Gets an array of envelopes which have the specified status",
                "operationId": "GetEnvelopesByStatus",
                "parameters": [{
                    "name": "status",
                    "in": "query",
                    "description": "The status  : 1 - InProgress, 2 - Completed, 3 - Canceled, 4 - Expired",
                    "required": true,
                    "schema": {
                        "type": "number"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GetItemsArrayResult"
                                    }

                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetEnvelopeStatus": {
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Gets the status of the specific envelope",
                "operationId": "GetEnvelopeStatus",
                "parameters": [{
                    "name": "id",
                    "in": "query",
                    "description": "The id of the envelope",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetEnvelopesToSign": {
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Gets an array of envelopes that API caller has to sign",
                "operationId": "GetEnvelopesToSign",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GetEnvelopesToSignResult"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetCompletedFormFields": {
            "post": {
                "tags": [
                    "Completed Envelope Download"
                ],
                "summary": "Get the values of the form fields filled by the envelope signers",
                "operationId": "GetCompletedFormFields",
                "parameters": [{
                    "name": "envelopeId",
                    "in": "query",
                    "description": "Id of the envelope",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],

                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetCompletedFormFieldsResult"
                                }
                            }
                        }

                    }
                }
            }
        },

        "/DownloadEnvelopeIncompleteDocuments": {
            "post": {
                "tags": [
                    "Completed Envelope Download"
                ],
                "summary": "Returns a zip file with partially signed documents. If nobody signed the document yet, the envelope original files will be returned",
                "operationId": "DownloadEnvelopeIncompleteDocuments",
                "parameters": [{
                    "name": "envelopeId",
                    "in": "query",
                    "description": "Id of the envelope",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DownloadEnvelopeIncompleteDocumentsResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        

        "/DownloadEnvelopeCompletedDocuments": {
            "post": {
                "tags": [
                    "Completed Envelope Download"
                ],
                "summary": "Returns a zip file which contains the envelope completed documents and the audit trail",
                "operationId": "DownloadEnvelopeCompletedDocuments",
                "parameters": [{
                    "name": "envelopeId",
                    "in": "query",
                    "description": "Id of the envelope",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DownloadEnvelopeCompletedDocumentsResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/DownloadEnvelopeCompletedAttachments": {
            "post": {
                "tags": [
                    "Completed Envelope Download"
                ],
                "summary": "Returns a zip file with all the PDF file attachments for a completed envelope",
                "operationId": "DownloadEnvelopeCompletedAttachments",
                "parameters": [{
                    "name": "envelopeId",
                    "in": "query",
                    "description": "Id of the envelope",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DownloadEnvelopeCompletedAttachmentsResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/DeleteEnvelopeRecipient": {
            "post": {
                "tags": [
                    "Recipient"
                ],
                "summary": "Deletes a recipient from a envelope",
                "operationId": "DeleteEnvelopeRecipient",
                "requestBody": {
                    "required": true,
                    "description": "Input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/DeleteEnvelopeRecipientApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/ReplaceEnvelopeRecipient": {
            "post": {
                "tags": [
                    "Recipient"
                ],
                "summary": "Replaces a recipient from a envelope",
                "operationId": "ReplaceEnvelopeRecipient",
                "requestBody": {
                    "required": true,
                    "description": "Input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/ReplaceEnvelopeRecipientApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/GetUserDetails" :{
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Gets information about the user",
                "operationId": "GetUserDetails",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetUserDetailsResult"
                                }
                            }
                        }
                    }
                }
            }            
        },
        "/AddUserAutomaticSigningProfile": {
            "post": {
                "tags": [
                    "User Automatic Signing Profiles"
                ],
                "summary": "Add a new profile for automatic signatures",
                "operationId": "AddUserAutomaticSigningProfile",
                "requestBody": {
                    "required": true,
                    "description": "Input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/AutomaticSigningProfileApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetSignatureImprints": {
            "post": {
                "tags": [
                    "Organization"
                ],
                "summary": "Get the list of signature imprints defined per organization",
                "operationId": "GetSignatureImprints",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ApiResultStringArray"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetCustomUserRoles": {
            "post": {
                "tags": [
                    "Organization"
                ],
                "summary": "Get the list of custom user roles defined per organization. Requires administrator or custom role with acces to users",
                "operationId": "GetCustomUserRoles",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ApiResultStringArray"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetSignatureStamps": {
            "post": {
                "tags": [
                    "Signature Stamps"
                ],
                "summary": "Get the list of signature stamps defined per organization",
                "operationId": "GetSignatureStamps",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ApiResultStringArray"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetUserInterfaceLanguages": {
            "post": {
                "tags": [
                    "Organization"
                ],
                "summary": "Get the list of UI languages usable by Bulksign",
                "operationId": "GetUserInterfaceLanguages",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ApiResultStringArray"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetEmailLanguages": {
            "post": {
                "tags": [
                    "Organization"
                ],
                "summary": "Get the list of email languages usable in the organization",
                "operationId": "GetEmailLanguages",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ApiResultStringArray"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },

        "/AddSignatureStamp": {
            "post": {
                "tags": [
                    "Signature Stamps"
                ],
                "summary": "Add a new organization signature stamp",
                "operationId": "AddSignatureStamp",
                "requestBody": {
                    "required": true,
                    "description": "Input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/NewStampApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/AddOrganizationAutomaticSigningProfile": {
            "post": {
                "tags": [
                    "Automatic Signing Profiles"
                ],
                "summary": "Add a new organization profile for automatic signatures. Requires organization administrator rights or custom role with acces to automatic signing profiles",
                "operationId": "AddOrganizationAutomaticSigningProfile",
                "requestBody": {
                    "required": true,
                    "description": "Input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/AutomaticSigningProfileApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetUserAutomaticSigningProfiles": {
            "post": {
                "tags": [
                    "User Automatic Signing Profiles"
                ],
                "summary": "Get the list of user automatic signing profiles",
                "operationId": "GetUserAutomaticSigningProfiles",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json:": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetUserAutomaticSigningProfilesResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetOrganizationAutomaticSigningProfiles": {
            "post": {
                "tags": [
                    "Automatic Signing Profiles"
                ],
                "summary": "Get the list of organization automatic signing profiles",
                "operationId": "GetOrganizationAutomaticSigningProfiles",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AutomaticSigningProfileResultApiModel"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/AddContact": {
            "post": {
                "tags": [
                    "User Contacts"
                ],
                "summary": "Adds a new user contact",
                "operationId": "AddContact",
                "requestBody": {
                    "required": true,
                    "description": "Input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/NewContactApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/AddSharedContact": {
            "post": {
                "tags": [
                    "Shared Contacts"
                ],
                "summary": "Adds a new shared contact",
                "operationId": "AddSharedContact",
                "requestBody": {
                    "required": true,
                    "description": "Input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/NewContactApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetContacts": {
            "post": {
                "tags": [
                    "User Contacts"
                ],
                "summary": "Gets the list of user contacts",
                "operationId": "GetContacts",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetContactsResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetSharedContacts": {
            "post": {
                "tags": [
                    "Shared Contacts"
                ],
                "summary": "Gets the list of shared contacts",
                "operationId": "GetSharedContacts",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetContactsResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetTemplatesCount": {
            "post": {
                "tags": [
                    "Template"
                ],
                "summary": "Gets the number of templates available for user including shared templates",
                "operationId": "GetTemplatesCount",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultNumeric"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetTemplates": {
            "post": {
                "tags": [
                    "Template"
                ],
                "summary": "Gets the list of templates available for user including shared templates",
                "operationId": "GetTemplates",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetTemplatesResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetTemplateDetails": {
            "post": {
                "tags": [
                    "Template"
                ],
                "summary": "Get detailed informations about a template",
                "operationId": "GetTemplateDetails",
                "parameters": [{
                    "name": "templateId",
                    "in": "query",
                    "description": "The id of the template",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetTemplateDetailsResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/CreateTemplate": {
            "post": {
                "tags": [
                    "Template"
                ],
                "summary": "Creates a new template",
                "operationId": "CreateTemplate",
                "requestBody": {
                    "required": true,
                    "description": "Input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/TemplateApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultId"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/DeleteTemplate": {
            "post": {
                "tags": [
                    "Template"
                ],
                "summary": "Deletes the specified template",
                "operationId": "DeleteTemplate",
                "parameters": [{
                    "name": "templateId",
                    "in": "query",
                    "description": "Id of the template to delete",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/DeleteDraft": {
            "post": {
                "tags": [
                    "Draft"
                ],
                "summary": "Deletes the specified draft",
                "operationId": "DeleteDraft",
                "parameters": [{
                    "name": "draftId",
                    "in": "query",
                    "description": "Id of the draft to deleted",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/CreateDraft": {
            "post": {
                "tags": [
                    "Draft"
                ],
                "summary": "Creates a new draft",
                "operationId": "CreateDraft",
                "requestBody": {
                    "required": true,
                    "description": "Input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/DraftApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultId"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/CreateDraftFromFile": {
            "post": {
                "tags": [
                    "Draft"
                ],
                "summary": "Creates a new draft from file",
                "operationId": "CreateDraftFromFile",
                "parameters": [{
                    "name": "fileName",
                    "in": "query",
                    "description": "The name of the file including extension",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/octet-stream:": {
                            "schema": {
                                "type": "string",
                                "format": "binary"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultId"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/CreateDraftFromFileBase64": {
            "post": {
                "tags": [
                    "Draft"
                ],
                "summary": "Creates a new draft from file",
                "operationId": "CreateDraftFromFileBase64",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/FileInputBase64"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultId"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetDrafts": {
            "post": {
                "tags": [
                    "Draft"
                ],
                "summary": "Gets the list of user drafts",
                "operationId": "GetDrafts",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetDraftItemsArrayResult"
                                }
                            }
                        }
                    }

                }
            }
        },

        "/GetDraftDetails": {
            "post": {
                "tags": [
                    "Draft"
                ],
                "summary": "Gets the details of the specified draft",
                "operationId": "GetDraftDetails",
                "parameters": [{
                    "name": "draftId",
                    "in": "query",
                    "description": "The id of the draft",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetDraftDetailsResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetDraftsCount": {
            "post": {
                "tags": [
                    "Draft"
                ],
                "summary": "Gets the number of drafts available for user",
                "operationId": "GetDraftsCount",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResultNumeric"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/CreateShareTeam": {
            "post": {
                "tags": [
                    "Teams"
                ],
                "summary": "Creates a team where envelopes are shared between all members of the team.",
                "operationId": "CreateShareTeam",
                "requestBody": {
                    "required": true,
                    "description": "Input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamShareApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/CreateHierarchicalTeam": {
            "post": {
                "tags": [
                    "Teams"
                ],
                "summary": "Creates a team where envelopes are shared between all members of the team.",
                "operationId": "CreateHierarchicalTeam",
                "requestBody": {
                    "required": true,
                    "description": "Input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamHierarchicalApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/StoreTemporaryFileBinary": {
            "post": {
                "tags": [
                    "File"
                ],
                "summary": "Stores the specified file, to be used afterwards from SendEnvelope/PrepareSendEnvelope",
                "operationId": "StoreTemporaryFileBinary",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/octet-stream:": {
                            "schema": {
                                "type": "string",
                                "format": "binary"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }
                }
            }
        },


        "/StoreTemporaryFile": {
            "post": {
                "tags": [
                    "File"
                ],
                "summary": "Stores the specified file, to be used afterwards from SendEnvelope/PrepareSendEnvelope",
                "operationId": "StoreTemporaryFile",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/FileInput"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }
                }
            }
        },


        
        "/StoreTemporaryFileBase64": {
            "post": {
                "tags": [
                    "File"
                ],
                "summary": "Stores the specified file, to be used afterwards from SendEnvelope/PrepareSendEnvelope",
                "operationId": "StoreTemporaryFileBase64",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/FileInputBase64"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }
                }
            }
        },


        "/AnalyzeFileBinary": {
            "post": {
                "tags": [
                    "File"
                ],
                "summary": "Analyze the specified PDF file, stores the file and returns information about form fields",
                "operationId": "AnalyzeFileBinary",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/octet-stream:": {
                            "schema": {
                                "type": "string",
                                "format": "binary"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AnalyzedFileResultApiModel"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },

        "/AnalyzeFile": {
            "post": {
                "tags": [
                    "File"
                ],
                "summary": "Analyze the specified PDF file, stores the file and returns information about form fields",
                "operationId": "AnalyzeFile",
                "requestBody": {
                    "required": true,
                    "description": "Input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/FileInput"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AnalyzedFileResultApiModel"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },

        "/AnalyzeFileBase64": {
            "post": {
                "tags": [
                    "File"
                ],
                "summary": "Analyze the specified PDF file and returns information about form fields",
                "operationId": "AnalyzeFileBase64",
                "requestBody": {
                    "required": true,
                    "description": "Input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/FileInputBase64"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AnalyzedFileResultApiModel"
                                    }
                                }
                            }
                        }
                    }
                }

            }
        },

        "/UpdateOrganizationSettings": {
            "post": {
                "tags": [
                    "Organization"
                ],
                "summary": "Updates the organization settings. Requires organization administrator rights",
                "operationId": "UpdateOrganizationSettings",
                "requestBody": {
                    "required": true,
                    "description": "Input model for UpdateOrganizationSettings",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OrganizationUpdateSettingsApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/InviteUserToOrganization": {
            "post": {
                "tags": [
                    "Organization Users"
                ],
                "summary": "Invite the user to your organization using name and email",
                "operationId": "InviteUserToOrganization",
                "requestBody": {
                    "required": true,
                    "description": "Input model",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserInvitationApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/AddUserToOrganization": {
            "post": {
                "tags": [
                    "Organization Users"
                ],
                "summary": "Add a new user to your organization using full user data.",
                "operationId": "AddUserToOrganization",
                "requestBody": {
                    "required": true,
                    "description": "Input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/NewUserApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetVersion": {
            "post": {
                "tags": [
                    "Version"
                ],
                "summary": "Returns the version number",
                "operationId": "GetVersion",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Version"
                ],
                "summary": "Returns the version number",
                "operationId": "GetVersionGet",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/UpdateDraftSettings": {
            "post": {
                "tags": [
                    "Draft"
                ],
                "summary": "Updates the draft settings",
                "operationId": "UpdateDraftSettings",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateDraftApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/AddDocumentsRecipientsToDraft": {
            "post": {
                "tags": [
                    "Draft"
                ],
                "summary": "Adds new recipients and/or documents to a draft",
                "operationId": "AddDocumentsRecipientsToDraft",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddDocumentsOrRecipientsToDraftApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/AddDocumentsRecipientsToTemplate": {
            "post": {
                "tags": [
                    "Template"
                ],
                "summary": "Adds new recipients and/or documents to a template",
                "operationId": "AddDocumentsRecipientsToTemplate",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddDocumentsOrRecipientsToDraftApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/UpdateTemplateSettings": {
            "post": {
                "tags": [
                    "Template"
                ],
                "summary": "Updates the template settings",
                "operationId": "UpdateTemplateSettings",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateTemplateApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/UpdateUserSettings": {
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Updates the user settings",
                "operationId": "UpdateUserSettings",
                "requestBody": {
                    "required": true,
                    "description": "Input model for UpdateUserSettings",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserUpdateSettingsApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/GetOrganizationSignGroups": {
            "post": {
                "tags": [
                    "Sign Groups"
                ],
                "summary": "Retrive the organization sign groups",
                "operationId": "GetOrganizationSignGroups",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/OrganizationSignGroupApiModel"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },


        "/CreateOrganizationSignGroup": {
            "post": {
                "tags": [
                    "Sign Groups"
                ],
                "summary": "Creates a new organization SignGroup",
                "operationId": "CreateOrganizationSignGroup",
                "requestBody": {
                    "required": true,
                    "description": "Input model for CreateOrganizationSignGroup",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OrganizationSignGroupApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                }
                            }
                        }
                    }
                }
            }
        },


        "/GetAuthenticationProviders": {
            "post": {
                "tags": [
                    "Organization"
                ],
                "summary": "Retrive the organization authentication providers. Requires organization administrator rights",
                "operationId": "GetAuthenticationProviders",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GetAuthenticationProvidersResult"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/GetCompletedAuditTrail": {
            "post": {
                "tags": [
                    "Completed Envelope Download"
                ],
                "summary": "Retrive the entries for a completed envelope audit trail",
                "operationId": "GetCompletedAuditTrail",
                "parameters": [{
                    "name": "envelopeId",
                    "in": "query",
                    "description": "Id of the envelope",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AuditTrailEntryApiModel"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {


            "ResetSignatureTypeApiModel" : {
                "type": "object",
                "required": ["EnvelopeId","SignatureType"],
                "properties": {
                    "EnvelopeId": {
                        "description": "The envelope identifier",
                        "type": "string"
                    },
                    "ByIndex": {
                        "description": "The index of the recipient for which the signatures will be reset",
                        "type": "object",
                        "required": "false",
                        "$ref": "#/components/schemas/FindRecipientByIndexApiModel"
                    },
                    "ByEmail": {
                        "description": "The email of the recipient for which the signatures will be reset",
                        "type": "object",
                        "required": "false",
                        "$ref": "#/components/schemas/FindRecipientByEmailApiModel"
                    },
                    "ByIdentifier": {
                        "description": "The email of the recipient for which the signatures will be reset",
                        "type": "object",
                        "required": "false",
                        "$ref": "#/components/schemas/FindRecipientByIdentifierApiModel"
                    },
                    "SignatureType":{
                        "description": "The email of the recipient for which the signatures will be reset",
                        "type": "object",
                        "required": "true",
                        "$ref": "#/components/schemas/ResetSignatureType"
                    }
                }
			},


			"UnlockConcurrentRecipientApiModel" : {
                "type": "object",
                "properties": {
                    "EnvelopeId": {
                        "description": "The envelope identifier",
                        "type": "string"
                    },
                    "RecipientEmail": {
                        "description": "Email of the recipient which has locked the envelope",
                        "type": "string"
                    }
                }
			},

            "GetAuthenticationProvidersResult" :{
                "description": "GetAuthenticationProvidersResult",
                "type": "object",
                "allOf": [{
                    "$ref": "#/components/schemas/ApiResult",
                    "type": "object"
                }],
                "properties": {
                    "Result": {
                        "description": "The result of the API request",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AuthenticationProviderResultApiModel"
                        }
                    }
                }
            },

            "AuthenticationProviderResultApiModel": {
                "type": "object",
                "properties": {
                    "Name": {
                        "description": "The name of the authentication provider",
                        "type": "string"
                    },
                    "Identifier": {
                        "description": "The identifier",
                        "type": "string"
                    }
                }
            },

            "AddDocumentsOrRecipientsToDraftApiModel": {
                "type": "object",
                "properties": {
                    "DraftId": {
                        "description": "Draft identifier",
                        "type": "string"
                    },
                    "Documents": {
                        "description": "Documents which will be added to the draft",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/DocumentApiModel"
                        }
                    },
                    "Recipients": {
                        "description": "Recipients which will be added to the draft",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/RecipientApiModel"
                        }
                    },
                    "DocumentParsingOptions" :{
                        "description": "Document parsing options",
                        "type": "object",
                        "$ref": "#/components/schemas/DocumentParseOptionApiModel"
                    }
                }
            },

            "AddDocumentsOrRecipientsToTemplateApiModel": {
                "type": "object",
                "properties": {
                    "TemplateId": {
                        "description": "Template identifier",
                        "type": "string"
                    },
                    "Documents": {
                        "description": "Documents which will be added to the template",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/DocumentApiModel"
                        }
                    },
                    "Recipients": {
                        "description": "Recipients which will be added to the template",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/RecipientApiModel"
                        }
                    },
                    "DocumentParsingOptions" :{
                        "description": "Document parsing options",
                        "type": "object",
                        "$ref": "#/components/schemas/DocumentParseOptionApiModel"
                    }
                }
            },

            "BaseUpdateApiModel": {
                "type": "object",
                "properties": {
                    "Messages":{
                        "description": "Set the envelope messages",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/MessageApiModel"
                        }
                    },
                    "Language": {
                        "description": "Language for email notifications",
                        "type": "string"
                    },
                    "Metadata": {
                        "description": "Metadata for the envelope/draft/template",
                        "type": "string",
                        "minLength": 0,
                        "maxLength": 4000
                    },
                    "ExpirationDays": {
                        "description": "Sets the expiration day for envelope in days",
                        "type": "number"
                    },
                    "ExpirationDateAbsolute" :{
                        "description": "Sets the absolute expiration day as UTC timestamp",
                        "type": "string"
                    },

                    "ReminderOptions": {
                        "description": "Enable reminders and set the reminder options",
                        "type": "object",
                        "required": false,
                        "$ref": "#/components/schemas/ReminderOptionsApiModel"
                    },
                    "Name": {
                        "description": "Set the name to identify the envelope/draft/template",
                        "type": "string"
                    },
                    "DisableSignersShouldReceiveFinishedDocument": {
                        "description": "Set to true to disable sending completed documents to CC recipients",
                        "type": "boolean"
                    },
                    "OverwriteCallbackUrls": {
                        "description": "Overwrite the envelope callback URLs. If this is not set, the default configured UI values will be used",
                        "type": "object",
                        "$ref": "#/components/schemas/CallbackApiModel"
                    },
                    "OverwriteSignSettings": {
                        "description": "Overwrite the signing settings",
                        "type": "object",
                        "$ref": "#/components/schemas/SignSettingsApiModel"
                    },
                    "OverwriteDisclosureAgreement": {
                        "description": "Overwrites the disclosure agreements setting",
                        "type": "object",
                        "required": false,
                        "$ref": "#/components/schemas/DisclosureAgreementApiModel"
                    },
                    "AllowRecipientDelegation": {
                        "description": "Set to true to enable recipient delegation",
                        "type": "boolean"
                    },
                    "CertifyDocumentsBeforeSending": {
                        "description": "Flag to certify the PDF documents before sending them to signing",
                        "type": "boolean"
                    },
                    "PreventFormFieldEditOnEnvelopeCompletion": {
                        "description": "If enabled, the form fields in the PDF documents will be marked as read only to prevent editing on envelope completion",
                        "type": "boolean"
                    },
                    "EnableBatchSign": {
                        "description": "Flag to enable support for batch signing. Batch signing allows the signer to sign multiple signature fields with a single click",
                        "type": "boolean"
                    },
                    "DisableRecipientNotifications": {
                        "description": "Flag which allows to disable ALL recipient notifications",
                        "type": "boolean"
                    },
                    "DocumentTimestampType": {
                        "description": "Set the type of timestamping for serial envelope. To be set only if EnableDocumentTimestamp is enabled and the the of envelope is serial",
                        "type": "object",
                        "$ref": "#/components/schemas/DocumentTimestampTypeApi"
                    }

                }
            },

            "AccountLoginTypeApi" :{
                "description": "Specifies the type of account login",
                "type": "number",
                "enum": [
                    "0",
                    "1"
                ],
                "x-enum-values": [{
                    "numericValue": "0",
                    "identifier": "None"
                }, {
                    "numericValue": "0",
                    "identifier": "Password"
                }, {
                    "numericValue": "1",
                    "identifier": "OIDC_SAML"
                }],
                "x-ms-enum": []
            },

            "DocumentTimestampTypeApi": {
                "description": "Specifies the type of timestamping to be done for serial envelopes  : 1 - Recipient, 2 - Envelope",
                "type": "number",
                "enum": [
                    "1",
                    "2"
                ],
                "x-enum-values": [{
                    "numericValue": "0",
                    "identifier": "None"
                }, {
                    "numericValue": "1",
                    "identifier": "Recipient"
                }, {
                    "numericValue": "2",
                    "identifier": "Envelope"
                }],
                "x-ms-enum": []
            },

            "UpdateTemplateApiModel": {
                "description": "Type which describes the template update settings. Everything is optional, you should only sent the setting values that need to be updated",
                "type": "object",
                "allOf": [{
                    "$ref": "#/components/schemas/BaseUpdateApiModel",
                    "type": "object"
                }],
                "properties": {
                    "TemplateId": {
                        "description": "The identifier of the template which will be updated",
                        "type": "string"
                    },

                    "IsSharedTemplate": {
                        "description": "Flag which determines if the template is shared with the organization users",
                        "type": "boolean"
                    }
                }
            },

            "UpdateDraftApiModel": {
                "description": "Type which describes the draft update settings. Everything is optional, you should only sent the setting values that need to be updated",
                "type": "object",
                "allOf": [{
[...]
