{
    "openapi": "3.0.0",
    "servers": [{
        "url": "https://bulksign.com/webapi/restapi/"
    }],
    "info": {
        "version": "3.8",
        "title": "Bulksign REST API",
        "description": "Bulksign OpenAPI definition. For .NET/Core specifically, please use our [.NET SDK](https://www.nuget.org/packages/BulksignSdk). API code samples highlighting different integration scenarios are [on Gihub](https://github.com/bulksign/BulksignApiSamples)",
        "contact": {
            "email": "contact@bulksign.com"
        }
    },
    "tags": [{
            "name": "Envelope",
            "description": "Envelope specific APIs"
        },
        {
            "name": "Recipient",
            "description": "Recipient specific APIs"
        },
        {
            "name": "Documents Download",
            "description": "APIs to download completed OR partially signed documents"
        },
        {
            "name": "Draft",
            "description": "Draft specific APIs"
        },
        {
            "name": "Template",
            "description": "Template specific APIs"
        },
        {
            "name": "User",
            "description": "User specific APIs"
        },
        {
            "name": "Organization",
            "description": "Organization specific APIs. Can only be used by organization administrators"
        },
        {
            "name": "License",
            "description": "License specific APIs. Can only be used by organization administrators"
        },
        {
            "name": "Version",
            "description": "Version specific APIs"
        }
    ],

    "paths": {

        "/GetOrganizationUsers": {
            "post": {
                "tags": [
                    "Organization"
                ],
                "summary": "Gets the organization's users",
                "operationId": "GetOrganizationUsers",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrganizationUsersResult"
                                }
                            }
                        }
                    }

                }
            }
        },
        "/GetLicense": {
            "post": {
                "tags": [
                    "License"
                ],
                "summary": "Gets license information. Can only be used by organization administrators",
                "operationId": "GetLicense",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetLicenseResult"
                                }
                            }
                        }
                    }

                }
            }
        },
        "/PrepareSendEnvelope": {
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Obtain a SendEnvelopeApiModel",
                "operationId": "PrepareSendEnvelope",
                "requestBody": {
                    "required": true,
                    "description": "Input files",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/FileInput"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EnvelopeApiModel"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/PrepareSendEnvelopeBase64": {
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Obtain a SendEnvelopeApiModel",
                "operationId": "PrepareSendEnvelopeBase64",
                "requestBody": {
                    "required": true,
                    "description": "Input files",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/FileInputBase64"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EnvelopeApiModel"
                                }
                            }
                        }
                    }
                }
            }
        },


        "/SendEnvelope": {
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Sends a envelope for signing",
                "operationId": "SendEnvelope",
                "requestBody": {
                    "required": true,
                    "description": "SendEnvelope input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/EnvelopeApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SendEnvelopeResultApiModel"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/SendBulkEnvelope": {
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Sends a bulk envelope for signing",
                "operationId": "SendBulkEnvelope",
                "requestBody": {
                    "required": true,
                    "description": "SendBulkEnvelope input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/EnvelopeApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SendEnvelopeResultApiModel"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/SendReminder": {
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Sends a email reminder for the current signer(s) of the envelope",
                "operationId": "SendReminder",
                "parameters": [{
                    "name": "envelopeId",
                    "in": "query",
                    "description": "The id of the envelope",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/SendEnvelopeFromDraft": {
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Send a envelope to signing from a existing draft",
                "operationId": "SendEnvelopeFromDraft",
                "parameters": [{
                    "name": "draftId",
                    "in": "query",
                    "description": "The id of the draft",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResultId"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/SendEnvelopeFromTemplate": {
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Send a envelope to signing from a existing template",
                "operationId": "SendEnvelopeFromTemplate",
                "requestBody": {
                    "required": true,
                    "description": "The template model which allows replacing template recipients",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/EnvelopeFromTemplateApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResultId"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/DeleteEnvelope": {
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Delete a existing envelope",
                "operationId": "DeleteEnvelope",
                "parameters": [{
                    "name": "envelopeId",
                    "in": "query",
                    "description": "The id of the envelope",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/CancelEnvelope": {
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Cancel a envelope which is in progress",
                "operationId": "CancelEnvelope",
                "parameters": [{
                    "name": "envelopeId",
                    "in": "query",
                    "description": "The id of the envelope",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/RestartEnvelope": {
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Restarts a expired envelope",
                "operationId": "RestartEnvelope",
                "parameters": [{
                    "name": "envelopeId",
                    "in": "query",
                    "description": "The id of the envelope",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetEnvelopeDetails": {
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Get envelope details",
                "operationId": "GetEnvelopeDetails",
                "parameters": [{
                    "name": "envelopeId",
                    "in": "query",
                    "description": "The id of the envelope",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetEnvelopeDetailsResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetEnvelopesByStatus": {
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Gets an array of envelopes which have the specified status",
                "operationId": "GetEnvelopeByStatus",
                "parameters": [{
                    "name": "status",
                    "in": "query",
                    "description": "The status  : 1 - InProgress, 2 - Completed, 3 - Canceled, 4 - Expired",
                    "required": true,
                    "schema": {
                        "type": "number"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GetItemsArrayResult"
                                    }

                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetEnvelopeStatus": {
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Gets the status of the specific envelope",
                "operationId": "GetEnvelopeStatus",
                "parameters": [{
                    "name": "id",
                    "in": "query",
                    "description": "The id of the envelope",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetEnvelopesToSign": {
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Gets an array of envelopes that API caller has to sign",
                "operationId": "GetEnvelopesToSign",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GetEnvelopesToSignResult"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetCompletedFormFields": {
            "post": {
                "tags": [
                    "Documents Download"
                ],
                "summary": "Get the values of the form fields filled by the envelope signers",
                "operationId": "GetCompletedFormFields",
                "parameters": [{
                    "name": "envelopeId",
                    "in": "query",
                    "description": "Id of the envelope",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],

                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetCompletedFormFieldsResult"
                                }
                            }
                        }

                    }
                }
            }
        },

        "/DownloadEnvelopeIncompleteDocuments": {
            "post": {
                "tags": [
                    "Documents Download"
                ],
                "summary": "Returns a zip file with partially signed documents. If nobody signed the document yet, the envelope original files will be returned",
                "operationId": "DownloadEnvelopeIncompleteDocuments",
                "parameters": [{
                    "name": "envelopeId",
                    "in": "query",
                    "description": "Id of the envelope",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DownloadEnvelopeIncompleteDocumentsResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/DownloadEnvelopeCompletedDocuments": {
            "post": {
                "tags": [
                    "Documents Download"
                ],
                "summary": "Returns a zip file with finished documents and the audit trail",
                "operationId": "DownloadEnvelopeCompletedDocuments",
                "parameters": [{
                    "name": "envelopeId",
                    "in": "query",
                    "description": "Id of the envelope",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DownloadEnvelopeCompletedDocumentsResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/DeleteEnvelopeRecipient": {
            "post": {
                "tags": [
                    "Recipient"
                ],
                "summary": "Model from deleting a recipient from a envelope",
                "operationId": "DeleteRecipient",
                "requestBody": {
                    "required": true,
                    "description": "Input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/DeleteEnvelopeRecipientApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/ReplaceEnvelopeRecipient": {
            "post": {
                "tags": [
                    "Recipient"
                ],
                "summary": "Replaces a recipient from a envelope",
                "operationId": "ReplaceEnvelopeRecipient",
                "requestBody": {
                    "required": true,
                    "description": "Input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/ReplaceEnvelopeRecipientApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/AddUserAutomaticSigningProfile": {
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Add a new profile for automatic signatures",
                "operationId": "AddUserAutomaticSigningProfile",
                "requestBody": {
                    "required": true,
                    "description": "Input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/AutomaticSigningProfileApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetSignatureImprints": {
            "post": {
                "tags": [
                    "Organization"
                ],
                "summary": "Get the list of signature imprints defined per organization ",
                "operationId": "GetSignatureImprints",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/BulksignResultStringArray"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },


        "/AddOrganizationAutomaticSigningProfile": {
            "post": {
                "tags": [
                    "Organization"
                ],
                "summary": "Add a new organization profile for automatic signatures",
                "operationId": "AddOrganizationAutomaticSigningProfile",
                "requestBody": {
                    "required": true,
                    "description": "Input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/AutomaticSigningProfileApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResult"
                                }
                            }
                        }
                    }
                }
            }
        },


        "/GetUserAutomaticSigningProfiles": {
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Get the list of user automatic signing profiles ",
                "operationId": "GetUserAutomaticSigningProfiles",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json:": {
                                "schema": {
                                    "$ref": "#/components/schemas/AutomaticSigningProfileResultApiModel"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetOrganizationAutomaticSigningProfiles": {
            "post": {
                "tags": [
                    "Organization"
                ],
                "summary": "Get the list of organization automatic signing profiles ",
                "operationId": "GetOrganizationAutomaticSigningProfiles",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AutomaticSigningProfileResultApiModel"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/AddContact": {
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Add a new contact",
                "operationId": "AddContact",
                "requestBody": {
                    "required": true,
                    "description": "Input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/NewContactApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetContacts": {
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Gets the list of contacts",
                "operationId": "GetContacts",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetContactsResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetTemplatesCount": {
            "post": {
                "tags": [
                    "Template"
                ],
                "summary": "Gets the number of templates available for user including shared templates",
                "operationId": "GetTemplatesCount",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResultNumeric"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetTemplates": {
            "post": {
                "tags": [
                    "Template"
                ],
                "summary": "Gets the list of templates available for user including shared templates",
                "operationId": "GetTemplates",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetTemplatesResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetTemplateDetails": {
            "post": {
                "tags": [
                    "Template"
                ],
                "summary": "Gets the list of templates available for user including shared templates",
                "operationId": "GetTemplateDetails",
                "parameters": [{
                    "name": "templateId",
                    "in": "query",
                    "description": "The id of the template",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetTemplateDetailsResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/CreateTemplate": {
            "post": {
                "tags": [
                    "Template"
                ],
                "summary": "Creates a new template",
                "operationId": "CreateTemplate",
                "requestBody": {
                    "required": true,
                    "description": "Input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/TemplateApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResultId"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/CreateBulkTemplate": {
            "post": {
                "tags": [
                    "Template"
                ],
                "summary": "Creates a new template with bulk recipients",
                "operationId": "CreateBulkTemplate",
                "requestBody": {
                    "required": true,
                    "description": "Input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/TemplateApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResultId"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/DeleteTemplate": {
            "post": {
                "tags": [
                    "Template"
                ],
                "summary": "Deletes the specified template",
                "operationId": "DeleteTemplate",
                "parameters": [{
                    "name": "templateId",
                    "in": "query",
                    "description": "Id of the template to delete",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/DeleteDraft": {
            "post": {
                "tags": [
                    "Draft"
                ],
                "summary": "Deletes the specified draft",
                "operationId": "DeleteDraft",
                "parameters": [{
                    "name": "draftId",
                    "in": "query",
                    "description": "Id of the draft to deleted",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/CreateDraft": {
            "post": {
                "tags": [
                    "Draft"
                ],
                "summary": "Creates a new draft",
                "operationId": "CreateDraft",
                "requestBody": {
                    "required": true,
                    "description": "Input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/DraftApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResultId"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/CreateDraftFromFile": {
            "post": {
                "tags": [
                    "Draft"
                ],
                "summary": "Creates a new draft from file",
                "operationId": "CreateDraftFromFile",
                "parameters": [{
                    "name": "fileName",
                    "in": "query",
                    "description": "The name of the file including extension",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/octet-stream:": {
                            "schema": {
                                "type": "string",
                                "format": "binary"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResultId"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/CreateDraftFromFileBase64": {
            "post": {
                "tags": [
                    "Draft"
                ],
                "summary": "Creates a new draft from file",
                "operationId": "CreateDraftFromFileBase64",
                "parameters": [{
                    "name": "fileName",
                    "in": "query",
                    "description": "The name of the file including extension",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "requestBody": {
                    "required": true,
                    "content": {
                        "text/plain": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResultId"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/CreateBulkDraft": {
            "post": {
                "tags": [
                    "Draft"
                ],
                "summary": "Creates a new bulk draft",
                "operationId": "CreateBulkDraft",
                "requestBody": {
                    "required": true,
                    "description": "Input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/DraftApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResultId"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetDrafts": {
            "post": {
                "tags": [
                    "Draft"
                ],
                "summary": "Gets the list of user drafts",
                "operationId": "GetDrafts",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetItemsArrayResult"
                                }
                            }
                        }
                    }

                }
            }
        },

        "/GetDraftDetails": {
            "post": {
                "tags": [
                    "Draft"
                ],
                "summary": "Gets the details of the specified draft",
                "operationId": "GetDraftDetails",
                "parameters": [{
                    "name": "draftId",
                    "in": "query",
                    "description": "The id of the draft",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetDraftDetailsResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/GetDraftsCount": {
            "post": {
                "tags": [
                    "Draft"
                ],
                "summary": "Gets the number of drafts available for user",
                "operationId": "GetDraftsCount",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResultNumeric"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/CreateShareTeam": {
            "post": {
                "tags": [
                    "Organization"
                ],
                "summary": "Creates a team where envelopes are shared between all members of the team",
                "operationId": "CreateShareTeam",
                "requestBody": {
                    "required": true,
                    "description": "Input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamShareApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/CreateHierarchicalTeam": {
            "post": {
                "tags": [
                    "Organization"
                ],
                "summary": "Creates a team where envelopes are shared between all members of the team",
                "operationId": "CreateHierarchicalTeam",
                "requestBody": {
                    "required": true,
                    "description": "Input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/TeamHierarchicalApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/AnalyzeFileInput": {
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Analyze the specified PDF file, stores the file and returns information about form fields",
                "operationId": "AnalyzeFileInput",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/octet-stream:": {
                            "schema": {
                                "type": "string",
                                "format": "binary"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AnalyzedFileResultApiModel"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },

        "/AnalyzeFile": {
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Analyze the specified PDF file, stores the file and returns information about form fields",
                "operationId": "AnalyzeFile",
                "requestBody": {
                    "required": true,
                    "description": "Input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/FileInput"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AnalyzedFileResultApiModel"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },

        "/AnalyzeFileBase64": {
            "post": {
                "tags": [
                    "Envelope"
                ],
                "summary": "Analyze the specified PDF file and returns information about form fields",
                "operationId": "AnalyzeFileBase64",
                "requestBody": {
                    "required": true,
                    "description": "Input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/FileInputBase64"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AnalyzedFileResultApiModel"
                                    }
                                }
                            }
                        }
                    }
                }

            }
        },

        "/UpdateOrganizationSettings": {
            "post": {
                "tags": [
                    "Organization"
                ],
                "summary": "Updates the organization settings. Requires administrator rights",
                "operationId": "UpdateOrganizationSettings",
                "requestBody": {
                    "required": true,
                    "description": "Input model for UpdateOrganizationSettings",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OrganizationUpdateSettingsApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResult"
                                }
                            }
                        }
                    }
                }
            }
        },


        "/InviteUserToOrganization": {
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Invite the user to your organization using name and email",
                "operationId": "InviteUserToOrganization",
                "requestBody": {
                    "required": true,
                    "description": "Input model",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserInvitationApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/AddUserToOrganization": {
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Add a new user to your organization using full user data. Can only be used by organization administrators",
                "operationId": "AddUserToOrganization",
                "requestBody": {
                    "required": true,
                    "description": "Input model",
                    "content": {
                        "application/json:": {
                            "schema": {
                                "$ref": "#/components/schemas/NewUserApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResult"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/GetVersion": {
            "post": {
                "tags": [
                    "Version"
                ],
                "summary": "Returns the version number",
                "operationId": "GetVersion",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Version"
                ],
                "summary": "Returns the version number",
                "operationId": "GetVersionGet",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/UpdateDraftSettings": {
            "post": {
                "tags": [
                    "Draft"
                ],
                "summary": "Updates the draft settings",
                "operationId": "UpdateDraftSettings",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateDraftApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/AddDocumentsRecipientsToDraft": {
            "post": {
                "tags": [
                    "Draft"
                ],
                "summary": "Adds new recipients and/or documents to a draft",
                "operationId": "AddDocumentsRecipientsToDraft",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddDocumentsOrRecipientsToDraftApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/AddDocumentsRecipientsToTemplate": {
            "post": {
                "tags": [
                    "Template"
                ],
                "summary": "Adds new recipients and/or documents to a template",
                "operationId": "AddDocumentsRecipientsToTemplate",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddDocumentsOrRecipientsToDraftApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/UpdateTemplateSettings": {
            "post": {
                "tags": [
                    "Template"
                ],
                "summary": "Updates the template settings",
                "operationId": "UpdateDraftSettings",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateTemplateApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResult"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/UpdateUserSettings": {
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Updates the user settings",
                "operationId": "UpdateUserSettings",
                "requestBody": {
                    "required": true,
                    "description": "Input model for UpdateUserSettings",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserUpdateSettingsApiModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulksignResult"
                                }
                            }
                        }
                    }
                }
            }
        }
    },

    "components": {
        "schemas": {


            "AddDocumentsOrRecipientsToDraftApiModel": {
                "type": "object",
                "properties": {
                    "DraftId": {
                        "description": "Draft identifier",
                        "type": "string"
                    },
                    "Documents": {
                        "description": "Documents which will be added to the draft",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/DocumentApiModel"
                        }
                    },
                    "Recipients": {
                        "description": "Recipients which will be added to the draft",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/RecipientApiModel"
                        }
                    }
                }
            },

            "AddDocumentsOrRecipientsToTemplateApiModel": {
                "type": "object",
                "properties": {
                    "TemplateId": {
                        "description": "Template identifier",
                        "type": "string"
                    },
                    "Documents": {
                        "description": "Documents which will be added to the template",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/DocumentApiModel"
                        }
                    },
                    "Recipients": {
                        "description": "Recipients which will be added to the template",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/RecipientApiModel"
                        }
                    }
                }
            },

            "BaseUpdateApiModel": {
                "type": "object",
                "properties": {

                    "EmailSubject": {
                        "description": "Draft email subject",
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 300
                    },
                    "EmailMessage": {
                        "description": "Draft email body",
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 300
                    },
                    "Language": {
                        "description": "Language for email notifications",
                        "type": "string"
                    },
                    "Metadata": {
                        "description": "Metadata for the envelope/draft/template",
                        "type": "string",
                        "minLength": 0,
                        "maxLength": 4000
                    },
                    "DaysUntilExpire": {
                        "description": "Sets the expiration day for envelope in days",
                        "type": "number"
                    },

                    "ReminderOptions": {
                        "description": "Enable reminders and set the reminder options",
                        "type": "object",
                        "required": false,
                        "$ref": "#/components/schemas/ReminderOptionsApiModel"
                    },
                    "Name": {
                        "description": "Set the name to identify the envelope/draft/template",
                        "type": "string"
                    },
                    "DisableSignersShouldReceiveFinishedDocument": {
                        "description": "Set to true to disable sending completed documents to CC recipients",
                        "type": "boolean"
                    },
                    "OverwriteCallbackUrls": {
                        "description": "Overwrite the envelope callback URLs. If this is not set, the default configured UI values will be used",
                        "type": "object",
                        "$ref": "#/components/schemas/CallbackApiModel"
                    },
                    "OverwriteSignSettings": {
                        "description": "Overwrite the signing settings",
                        "type": "object",
                        "$ref": "#/components/schemas/SignSettingsApiModel"
                    },
                    "OverwriteSignatureDisclosure": {
                        "description": "Overwrite the signature disclosure text. If this is empty, the default UI configured value will be used",
                        "type": "string"
                    },
                    "AllowRecipientDelegation": {
                        "description": "Set to true to enable recipient delegation",
                        "type": "boolean"
                    },
                    "CertifyDocumentsBeforeSending": {
                        "description": "Flag to certify the PDF documents before sending them to signing",
                        "type": "boolean"
                    },
                    "PreventFormFieldEditOnEnvelopeCompletion": {
                        "description": "If enabled, the form fields in the PDF documents will be marked as read only to prevent editing on envelope completion",
                        "type": "boolean"
                    },
                    "EnableBatchSign": {
                        "description": "Flag to enable support for batch signing. Batch signing allows the signer to sign multiple signature fields with a single click",
                        "type": "boolean"
                    },

                    "DisableSignerEmailNotifications": {
                        "description": "Flag to enable support for batch signing. Batch signing allows the signer to sign multiple signature fields with a single click",
                        "type": "boolean"
                    },

                    "EnableDocumentTimestamp": {
                        "description": "Flag to enable support for batch signing. Batch signing allows the signer to sign multiple signature fields with a single click",
                        "type": "boolean"
                    },

                    "SerialEnvelopeDocumentTimestamp": {
                        "description": "Set the type of timestamping for serial envelope. To be set only if EnableDocumentTimestamp is enabled and the the of envelope is serial",
                        "type": "object",
                        "$ref": "#/components/schemas/SerialEnvelopeDocumentTimestampTypeApi"
                    }

                }
            },



            "SerialEnvelopeDocumentTimestampTypeApi": {
                "description": "Specifies the type of timestamping to be done for serial envelopes  : 1 - Recipient, 2 - Envelope",
                "type": "number",
                "enum": [
                    "1",
                    "2"
                ],
                "x-enum-values": [{
                        "numericValue": "1",
                        "identifier": "Recipient"
                    },
                    {
                        "numericValue": "2",
                        "identifier": "Envelope"
                    }
                ],
                "x-ms-enum": []
            },


            "UpdateTemplateApiModel": {
                "description": "Type which describes the template update settings. Everything is optional, you should only sent the setting values that need to be updated",
                "type": "object",
                "allOf": [{
                    "$ref": "#/components/schemas/BaseUpdateApiModel",
                    "type": "object"
                }],
                "properties": {
                    "TemplateId": {
                        "description": "The identifier of the template which will be updated",
                        "type": "string"
                    },

                    "IsSharedTemplate": {
                        "description": "Flag which determines if the template is shared with the organization users",
                        "type": "boolean"
                    }
                }
            },

            "UpdateDraftApiModel": {
                "description": "Type which describes the draft update settings. Everything is optional, you should only sent the setting values that need to be updated",
                "type": "object",
                "allOf": [{
                    "$ref": "#/components/schemas/BaseUpdateApiModel",
                    "type": "object"
                }],
                "properties": {
                    "DraftId": {
                        "description": "The identifier of the draft which will be updated",
                        "type": "string"
                    }
                }
            },

            "UserUpdateSettingsApiModel": {
                "description": "Type which describes user settings. Everything is optional, you should only sent the setting values that need to be updated",
                "type": "object",
                "properties": {
                    "FirstName": {
                        "description": "The user's first name",
                        "type": "string"
                    },
                    "LastName": {
                        "description": "The user's last name",
                        "type": "string"
                    },
                    "TimezoneIdentifier": {
                        "description": "The timezone identifier",
                        "type": "string"
                    },
                    "UserInterfaceLanguage": {
                        "description": "The user interface language. Call /GetUserInterfaceLanguages to retrieve all supported languages",
                        "type": "string"
                    },
                    "PhoneNumber": {
                        "description": "The user's phone number",
                        "type": "string"
                    },
                    "JobTitle": {
                        "description": "The user's job title",
                        "type": "string"
                    },
                    "DefaultDraftLanguage": {
                        "description": "The default language for new drafts",
                        "type": "string"
                    },
                    "DefaultSignatureType": {
                        "description": "The default signature type for this user",
                        "type": "string"
                    },
                    "DefaultForSendFinishedDocumentsToAllSigners": {
                        "description": "Default value for sending finished documents to signers for new drafts",
                        "type": "boolean"
                    },
                    "DefaultForEnableBatchSigning": {
                        "description": "Default value for enabling batch signing for new drafts",
                        "type": "boolean"
                    },
                    "DefaultForAllowRecipientDelegation": {
                        "description": "Default value for recipient delegation used for new drafts",
                        "type": "boolean"
                    },
                    "DefaultForPreventFormFieldEditOnEnvelopeCompletion": {
                        "description": "Default value for preventing form field editing on completion used for new drafts",
                        "type": "boolean"
                    },
                    "NotificationRecipientOpenedSignStep": {
                        "description": "Enable/disable notifications for recipient opening the SignStep",
                        "type": "boolean"
                    },
                    "NotificationRecipientSigned": {
                        "description": "Enable/disable notifications for recipient signing and finishing a SignStep",
                        "type": "boolean"
                    },
                    "NotificationEnvelopeCompleted": {
                        "description": "Enable/disable notifications for a envelope being completed",
                        "type": "boolean"
                    },
                    "NotificationRecipientRejected": {
                        "description": "Enable/disable notifications for recipient rejecting to sign a document",
                        "type": "boolean"
                    },
                    "SignatureImageBase64": {
                        "description": "The user's signature image sent as Base64 encoded string",
                        "type": "string"
                    },
                    "UserPictureBase64": {
                        "description": "The user's image sent as a Base64 encoded string",
                        "type": "string"
                    }
                }
            },

            "BaseDocumentApiInput": {
                "description": "",
                "type": "object",
                "properties": {

                    "EmailSubject": {
                        "description": "Envelope email subject. If left empty, will be imported from settings",
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 300,
                        "required": false
                    },
                    "EmailMessage": {
                        "description": "Envelope email body. If left empty, will be imported from organization settings",
                        "type": "string",
                        "required": false
                    },
                    "Language": {
                        "description": "Language for email notifications. If left empty, the default language setting will be used",
                        "type": "string",
                        "required": false
                    },
                    "Metadata": {
                        "description": "Metadata for the envelope/draft/template",
                        "type": "string",
                        "minLength": 0,
                        "maxLength": 4000,
                        "required": false
                    },
                    "DaysUntilExpire": {
                        "description": "Sets the expiration day for envelope in days. If not set, default value will be used",
                        "type": "number",
                        "required": false
                    },
                    "Documents": {
                        "description": "Set the PDF documents which will be signed",
                        "type": "object",
                        "required": true,
                        "$ref": "#/components/schemas/DocumentApiModel"
                    },
                    "Recipients": {
                        "description": "Set the recipients",
                        "type": "object",
                        "required": true,
                        "$ref": "#/components/schemas/RecipientApiModel"
                    },
                    "ReminderOptions": {
                        "description": "Enable reminders and set the reminder options",
                        "type": "object",
                        "required": false,
                        "$ref": "#/components/schemas/ReminderOptionsApiModel"
                    },
                    "Name": {
                        "description": "Set the name to identify the envelope/draft/template",
                        "type": "string",
                        "required": true
                    },
                    "DisableSignersShouldReceiveFinishedDocument": {
                        "description": "Set to true to disable sending finished documents to CC recipients",
                        "type": "boolean",
                        "required": false
                    },
                    "OverwriteCallbackUrls": {
                        "description": "Overwrite the envelope callback URLs. If this is not set, the default configured UI values will be used",
                        "type": "object",
                        "required": false,
                        "$ref": "#/components/schemas/CallbackApiModel"
                    },
                    "OverwriteSignSettings": {
                        "description": "Overwrite the signing settings",
                        "type": "object",
                        "required": false,
                        "$ref": "#/components/schemas/SignSettingsApiModel"
                    },
                    "OverwriteSignatureDisclosure": {
                        "description": "Overwrite the signature disclosure text. If this is empty, the default UI configured value will be used",
                        "type": "string",
                        "required": false
                    },
                    "AllowRecipientDelegation": {
                        "description": "Set to true to enable recipient delegation",
                        "type": "boolean",
                        "required": false
                    },
                    "CertifyDocumentsBeforeSending": {
                        "description": "Flag to certify the PDF documents before sending them to signing",
                        "type": "boolean",
                        "required": false
                    },
                    "PreventFormFieldEditOnEnvelopeCompletion": {
                        "description": "If enabled, the form fields in the PDF documents will be marked as read only to prevent editing on envelope completion",
                        "type": "boolean",
                        "required": "false"
                    },
                    "EnableBatchSign": {
                        "description": "Flag to enable support for batch signing. Batch signing allows the signer to sign multiple signature fields with a single click",
                        "type": "boolean",
                        "required": "false"
                    },
                    "FileAccessMode": {
                        "description": "Set file access mode",
                        "type": "object",
                        "required": false,
                        "$ref": "#/components/schemas/FileAccessModeApi"
                    },
                    "CustomFileAccess": {
                        "description": "Set the custom file access mode",
                        "type": "array",
                        "required": false,
                        "items": {
                            "$ref": "#/components/schemas/FileAccessApiModel"
                        }
                    }
                }
            },

            "UpdateDraftMetadataApiModel": {
                "description": "UpdateDraftMetadataApiModel type definition",
                "type": "object",
                "properties": {
                    "DraftId": {
                        "description": "The id of the draft",
                        "type": "string",
                        "required": true
                    },
                    "Metadata": {
                        "description": "The new metadata value",
                        "type": "string",
                        "required": true
                    }
                }
            },

            "ItemResultApiModel": {
                "description": "ItemResultApiModel type definition",
                "type": "object",
                "properties": {
                    "Id": {
                        "description": "The id of the envelope/draft/template",
                        "type": "string"
                    },
                    "Name": {
                        "description": "The name of the envelope/draft/template",
                        "type": "string"
                    },
                    "LastUpdatedDateUTC": {
                        "description": "The last update date for draft/envelope/template, timestamp is UTC",
                        "type": "string"
                    }
                }
            },
            "EnvelopeFromTemplateApiModel": {
                "description": "EnvelopeFromTemplateApiModel type definition",
                "type": "object",
                "properties": {

                    "TemplateId": {
                        "description": "The id of the template",
                        "type": "string",
                        "required": true
                    },
                    "ReplaceRecipients": {
                        "description": "The recipients to replace",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/TemplateReplaceRecipientApiModel"
                        }
                    },
                    "ReplaceFormFields": {
                        "description": "The form fields ",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/TemplateReplaceFormFieldsApiModel"
                        }
                    }
                }
            },
            "TemplateReplaceFormFieldsApiModel": {
                "description": "TemplateReplaceFormFieldsApiModel type definition",
                "type": "object",
                "properties": {

                    "FindDocumentByIndex": {
                        "description": "The index of the document",
                        "type": "number",
                        "required": "true"
                    },
                    "FindDocumentByName": {
                        "description": "The name of the document",
                        "type": "string",
                        "required": "true"
                    },
                    "FormFieldValues": {
                        "description": "Form field values",
                        "type": "array",
                        "required": true,
                        "items": {
                            "$ref": "#/components/schemas/OverwriteFieldValueApiModel"
                        }
                    }
                }
            },
            "EnvelopeToSignResultApiModel": {
                "description": "EnvelopeToSignResultApiModel type definition",
                "type": "object",
                "properties": {
                    "AccessCode": {
                        "description": "The access code for the document",
                        "type": "string"
                    },
                    "EnvelopeName": {
                        "description": "The name of the envelope",
                        "type": "string"
                    },
                    "SenderName": {
                        "description": "The name of the envelope sender",
                        "type": "string"
                    }
                }
            },
            "NewUserApiModel": {
                "description": "NewUserApiModel type definition",
                "type": "object",
                "properties": {
                    "FirstName": {
                        "description": "The user first name",
                        "type": "string",
                        "required": true
                    },
                    "LastName": {
                        "description": "The user last name",
                        "type": "string",
                        "required": true
                    },
                    "Email": {
                        "description": "The user email address",
                        "type": "string",
                        "required": true
                    },
                    "IsAdministrator": {
                        "description": "Flag to determine if the new user will be a organization administrator",
                        "type": "boolean",
                        "default": "false",
                        "required": true
                    },
                    "JobTitle": {
                        "description": "The user job title",
                        "type": "string",
                        "default": ""
                    },
                    "PhoneNumber": {
                        "description": "The user phone number",
                        "type": "string",
                        "default": "",
                        "required": true
                    },
                    "UILanguage": {
                        "description": "The localization identifier for the user UI language, format is ISO 639-1",
                        "type": "string",
                        "default": "en-US"
                    },
                    "DefaultDraftLanguage": {
                        "description": "The localization identifier used by default for the drafts",
                        "type": "string",
                        "default": "en-US"
                    },
                    "NotificationRecipientSigned": {
                        "description": "Flag to enable the recipient signed email notification",
                        "type": "boolean",
                        "default": "false"
                    },
                    "NotificationRecipientOpenedEnvelope": {
                        "description": "Flag to enable the opened envelope email notification",
                        "type": "boolean",
                        "default": "false"
                    },
                    "NotificationEnvelopeCompleted": {
                        "description": "Flag to enable the envelope completed email notification",
                        "type": "boolean",
                        "default": "false"
                    },
                    "NotificationRecipientRejected": {
                        "description": "Flag to enable the recipient rejected email notification",
                        "type": "boolean",
                        "default": false
                    },
                    "DateTimeFormatId": {
                        "description": "The identifier for the date time format used by the user",
                        "type": "number",
                        "default": "1"
                    },
                    "TimeZoneId": {
                        "description": "The identifier for the time zone format used by the user",
                        "type": "string",
                        "default": "UTC"
                    },
                    "SignatureImage": {
                        "description": "A BASE64 encoded image in JPEG format that will be used as the user's signature image",
                        "type": "string",
                        "default": ""
                    },
                    "Picture": {
                        "description": "A BASE64 encoded image in JPEG format that will be used as the user's image",
                        "type": "string",
                        "default": ""
                    }
                }
            },


            "UserInvitationApiModel": {
                "description": "Type description for UserInvitation model",
                "type": "object",
                "properties": {
                    "FirstName": {
                        "description": "The user's first name",
                        "type": "string",
                        "required": "true",
                        "example": "John"
                    },
                    "LastName": {
                        "description": "The user's last name",
                        "type": "string",
                        "required": "true",
                        "example": "Fonesca"
                    },
                    "Email": {
                        "description": "The user's email address",
                        "type": "string",
                        "required": "true",
                        "example": "test@test.com"
                    },
                    "IsAdministrator": {
                        "description": "Flag to determine if the new user will be a organization administrator",
                        "type": "boolean",
                        "required": "true",
                        "example": "true"
                    }
                }
            },

            "RecipientResultApiModel": {
                "description": "Type description for BulksignRecipientResult",
                "type": "object",
                "properties": {

                    "Email": {
                        "description": "The recipient's email",
                        "type": "string"
                    },
                    "Name": {
                        "description": "The recipient's name",
                        "type": "string"
                    },
                    "Index": {
                        "description": "The recipient's name",
                        "type": "number"
                    },
                    "PersonalMessage": {
                        "description": "The personal message",
                        "type": "string"
                    },
                    "AccessCode": {
                        "description": "The access code of the recipient",
                        "type": "string"
                    },
                    "Status": {
                        "description": "The current status of the recipient",
                        "$ref": "#/components/schemas/RecipientStatusApi"
                    },
                    "RecipientType": {
                        "description": "The recipient types",
                        "$ref": "#/components/schemas/RecipientTypeApi"
                    },
                    "RecipientAuthenticationMethods": {
                        "description": "The recipient authentication methods",
                        "$ref": "#/components/schemas/RecipientAuthenticationApiModel"
                    },
                    "HasBeenDelegated": {
                        "description": "Flag which indicates if the recipient has been delegated",
                        "type": "boolean"
                    },
                    "RejectionMessage": {
                        "description": "The rejection message of the recipient (only when the SignStep is rejected)",
                        "type": "string"
                    },

                    "SigningUrl": {
                        "description": "The url to which the user should be redirected to sign",
                        "type": "string"
                    }

                }
            },

            "DocumentResultApiModel": {
                "description": "Type description for BulksignDocumentResult",
                "type": "object",
                "properties": {

                    "Filename": {
                        "description": "Name of the file",
                        "type": "string"
                    },
                    "Index": {
                        "description": "Index of the file",
                        "type": "string"
                    }
                }
            },

            "EnvelopeDetailsResultApiModel": {
                "description": "Model for envelope detail result",
                "type": "object",
                "properties": {
                    "Documents": {
                        "description": "The envelope documents",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/DocumentResultApiModel"
                        }
                    },
                    "Recipients": {
                        "description": "The envelope recipients",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/RecipientResultApiModel"
                        }
                    },
                    "Status": {
                        "description": "The status of the envelope",
                        "$ref": "#/components/schemas/EnvelopeStatusTypeApi"
                    },
                    "SentDateUTC": {
                        "description": "The date at which the envelope was sent for signing",
                        "type": "string"
                    },
                    "SentFormattedDateUTC": {
                        "description": "The date at which the envelope was sent for signing in ISO 8601 format",
                        "type": "string"
                    },
                    "ExpirationDateUTC": {
                        "description": "The expiration date of the envelope",
                        "type": "string"
                    },
                    "ExpirationFormattedDateUTC": {
                        "description": "The expiration date of the envelope in ISO 8601 format",
                        "type": "string"
                    },
                    "LastModifiedDateUTC": {
                        "description": "The last modification date of the envelope",
                        "type": "string"
                    },
                    "LastModifiedFormattedDateUTC": {
                        "description": "The last modification date of the envelope in ISO 8601 format",
                        "type": "string"
                    },
                    "EnvelopeId": {
                        "description": "The id of the envelope",
                        "type": "string"
                    },
                    "IsBulk": {
                        "description": "Flag which shows if this is a envelope with bulk recipients",
                        "type": "boolean"
                    },
                    "ReminderOptions": {
                        "description": "Enable reminders and set specific options",
                        "$ref": "#/components/schemas/ReminderOptionsApiModel"
                    },
                    "Name": {
                        "description": "The name of the envelope/draft/template",
                        "type": "string"
                    },
                    "ClientRedirectUrl": {
                        "description": "The URL to redirect to after the signer finishes the document",
                        "type": "string"
                    },
[...]
